<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0BDDC6A8-6605-4E6D-84BB-544216231490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>587D58AC-0A2C-4380-9F68-4D1C4ED1684B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1E749DAB-CE96-4084-81DB-D7786A9E2DC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB89D96B-F7BA-4307-9808-6E3854DB2827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5BBF311-09B1-49D8-AAA2-C06860F97B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEC8A1E6-D8C7-447D-A0B8-AC6E10F83017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>directus</string>
	<key>description</key>
	<string>Douban search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>db search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.douban.com/search?source=suggest&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>db</string>
				<key>text</key>
				<string>Search in Douban.com</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dbdy</string>
				<key>text</key>
				<string>Search in Douban Movie</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0BDDC6A8-6605-4E6D-84BB-544216231490</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://movie.douban.com/subject_search?search_text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>587D58AC-0A2C-4380-9F68-4D1C4ED1684B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dbds</string>
				<key>text</key>
				<string>Search in Douban Book</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5BBF311-09B1-49D8-AAA2-C06860F97B0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://book.douban.com/subject_search?search_text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BEC8A1E6-D8C7-447D-A0B8-AC6E10F83017</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://music.douban.com/subject_search?search_text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AB89D96B-F7BA-4307-9808-6E3854DB2827</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dbyy</string>
				<key>text</key>
				<string>Search in Douban Music</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E749DAB-CE96-4084-81DB-D7786A9E2DC2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0BDDC6A8-6605-4E6D-84BB-544216231490</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>1E749DAB-CE96-4084-81DB-D7786A9E2DC2</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>587D58AC-0A2C-4380-9F68-4D1C4ED1684B</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AB89D96B-F7BA-4307-9808-6E3854DB2827</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>BEC8A1E6-D8C7-447D-A0B8-AC6E10F83017</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>C5BBF311-09B1-49D8-AAA2-C06860F97B0F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
