---
layout: page
title: "标签分类"
description: "doing More with Less."
header-img: "img/tags-bg.jpg"
---

<h3 class="title">{{ page.title }}</h3>
<ul class="entry-meta inline-list" style="list-style: none">
{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} {% if tag ~= "tag" %}
      <li style="float: left"><a href="#{{ tag }}" class="tag">{{ tag }} <span>{{ site.tags[tag].size }}篇</span></a></li>
    {% endif %}{% endfor %}
  {% else %}
    {% for tag in tags_list %} {% if tag[0] != "tag" %}
      <li style="float: left"><a href="#{{ tag[0] }}" class="tag">{{ tag[0] }} <span>{{ tag[1].size }}篇</span></a></li>
    {% endif %}{% endfor %}
  {% endif %}
{% assign tags_list = nil %}
<br></br>
</ul>
<br></br>
{% for tag in site.tags %} 
  {% if tag[0] != "tag" %}
  <article class="hentry">
  <br></br>
  <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
    <ul style="list-style: none">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
        <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
    </ul>
  </article><!-- /.hentry -->
  {% endif %}
{% endfor %}
