<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>baidu search</string>
	<key>connections</key>
	<dict>
		<key>F4D8E5E8-2082-4D3D-8F21-DF791AF6C39E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F46BA7-253D-4123-B0B7-541135558424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lucky</string>
	<key>description</key>
	<string>Search whatever you want</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Baidu Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78F46BA7-253D-4123-B0B7-541135558424</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/**
 * @category alfred workflow
 * @version 1.0
 * @author Lucky
 */
require_once ('workflows.php');
$wf = new Workflows ();

//set variables
$base_url = "http://www.baidu.com/s?wd=";
$query = "{query}"; 

$data = $wf-&gt;request ( "http://suggestion.baidu.com/su?&amp;zxmode=1&amp;json=1&amp;p=3&amp;sid=&amp;wd=" . urlencode ( $query ) ); // send request with query

preg_match ( '/(.*)"s":\[(.*)\],"/i', $data, $result ); // filter useless strings
$final_res = explode ( ',', $result [2] );

if (count ( $final_res ) &gt; 1) { // whether results are valid
	
	foreach ( $final_res as $val ) {
		$keyword = str_replace ( '"', '', iconv ( 'GB2312', 'UTF-8', $val ) ); // convert string to UTF8
		$wd = urlencode ( $keyword );
		$link = $base_url . $wd;
		
		$wf-&gt;result ( time (), $link, $keyword, '', 'icon.png', 'yes' ); // create the final result
	}
} else {
	$link = $base_url . urlencode ( $query );
	$wf-&gt;result ( '1', $link, $query, '', 'icon.png', 'yes' );
}

echo $wf-&gt;toxml (); // create xml and output</string>
				<key>subtext</key>
				<string>You can type anything here</string>
				<key>title</key>
				<string>Search {query} in Baidu</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4D8E5E8-2082-4D3D-8F21-DF791AF6C39E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>78F46BA7-253D-4123-B0B7-541135558424</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4D8E5E8-2082-4D3D-8F21-DF791AF6C39E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
